

.brk-btn {
    position: relative;
    width: 100px;
    background: none;
    font-weight: bold;
    color: #008000;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.3rem solid #FFD700;
    padding: 0.3rem 2rem;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.4rem;
      right: 20%;
      top: -0.21rem;
      transform: skewX(-45deg);
      -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.4rem;
      left: 20%;
      bottom: -0.3rem;
      transform: skewX(45deg);
      -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
    &:hover {
      text-decoration: none;
      &::before {
        right: 80%;
          text-decoration: none;

      }
      &::after {
        left: 80%;
      text-decoration: none;

      }
    }
}
  