
.header-logo{
    position: absolute;
    z-index: 1001;
    top:50%;
    left: -40%;
    width: 100%;
}

.header-logo{
    a{
        img{
            height: 70px;
            width: 130px;
        }
    }
}
